body{
    background: url(../Imagenes/solidoazul.jpg) no-repeat center center fixed;
    background-size: cover;

}

p{
    font-size: 50px; color: aquamarine; text-align: center; font-family: 'Courier New', Courier, monospace;
}

div{
    width: 100%; display: flex; text-align: center;
}

.subContenedor {
    width: 25%;
    display: block;
    justify-content: center;
    margin-top: 35px;
    text-align: center;
    
  }

  .img-1 {
    margin-right: 10px;
    width: 300px;
    
  }

h3{
    font-size: 150%; color: aquamarine; font-family: 'Courier New', Courier, monospace;
}

a{
    text-align: justify; color: white; text-decoration: none; font-family: 'Courier New', Courier, monospace;
}